@using MetalTrade.Domain.Enums
@using MetalTrade.Web.ViewModels.Advertisement
@model List<AdvertisementViewModel>

@{
	ViewData["Title"] = "Advertisements";

    var isAdmin = ViewData["IsAdmin"] as bool? ?? false;
}

@if (User.Identity.IsAuthenticated && (User.IsInRole("admin") || User.IsInRole("moderator") || User.IsInRole("supplier")))
{
	<div class="mb-2">
		<a asp-action="Create" class="btn btn-outline-success">Создать объявление</a>
	</div>
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="container mt-4">
	<div class="row">
		@foreach (var ads in Model)
		{
			<div class="col-md-4 mb-4">
				<div class="card shadow-sm position-relative">
					@if (ads.Photoes.Count > 0)
					{
						string carouselId = $"carousel-{ads.Id}";
						<div id="@carouselId" class="carousel slide" data-bs-ride="carousel">
							<div class="carousel-inner">
								@for (int i = 0; i < ads.Photoes.Count; i++)
								{
									var photo = ads.Photoes[i];
									<div class="carousel-item @(i == 0 ? "active" : "")">
										<img src="@photo.PhotoLink" class="d-block w-100" alt="Фото объявления"
										style="height: 200px; object-fit: cover;" />
									</div>
								}
							</div>
							<button class="carousel-control-prev" type="button" data-bs-target="#@carouselId" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Prev</span>
							</button>
							<button class="carousel-control-next" type="button" data-bs-target="#@carouselId" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Next</span>
							</button>							
						</div>
					}
					@if (isAdmin)
					{
                        switch(ads.Status)
						{
							case (int)AdvertisementStatus.Draft:
								<div class="position-absolute small bg-warning-subtle top-0 m-1 p-1 opacity-75">На рассмотрении</div>
								break;
							case (int)AdvertisementStatus.Active:
								<div class="position-absolute small bg-success-subtle top-0 m-1 p-1 opacity-75">Активно</div>
								break;
							case (int)AdvertisementStatus.Rejected:
								<div class="position-absolute small bg-danger-subtle top-0 m-1 p-1 opacity-75">Отклонено</div>
								break;	
							case (int)AdvertisementStatus.Archived:
								<div class="position-absolute small bg-info-subtle top-0 m-1 p-1 opacity-75">Деактивировано</div>
								break;
                        }						
					}
					<div class="card-body">
						<h5 class="card-title mt-2">@ads.Title</h5>
						<p class="card-text text-muted">@ads.Product.Name</p>
						<p class="card-text fw-bold">@ads.PhoneNumber</p>
						<a asp-action="Details" asp-route-id="@ads.Id" class="btn btn-primary w-100">Подробнее</a>
					</div>
				</div>
			</div>
		}
	</div>
</div>