@model List<Advertisement>

<h2>Объявления из Excel</h2>

@if (!Model.Any())
{
    <p>Данные не найдены</p>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Body</th>
                <th>Address</th>
                <th>City</th>
                <th>Phone</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Body</td>
                    <td>@item.Address</td>
                    <td>@item.City</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Price</td>
                </tr>
            }
        </tbody>
    </table>
}