@using MetalTrade.Web.ViewModels.Promotion
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model PromotionActivateViewModel

<div class="col-md-3">
    <form id="topForm"
          data-url="@Url.Action("ActivateTop", "User")">

        <input type="hidden" asp-for="TargetId" />

        <div class="mb-2 d-flex gap-2">
            <span class="text-muted align-self-center">@Localizer["SpanElemFast"]</span>

            <button type="button" class="btn btn-outline-secondary btn-sm" data-days="3">@Localizer["Btn_Plus_3_Days"]</button>
            <button type="button" class="btn btn-outline-secondary btn-sm" data-days="7">@Localizer["Btn_Plus_7_Days"]</button>
            <button type="button" class="btn btn-outline-secondary btn-sm" data-days="30">@Localizer["Btn_Plus_30_Days"]</button>
        </div>

        <div class="form-group">
            <label asp-for="Days">@Localizer["FormLabelTopLimitDate"]</label>
            <input asp-for="Days" type="number" min="1" class="form-control" />
            <span asp-validation-for="Days" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success mt-2">
            @Localizer["BtnAddToTop"]
        </button>
    </form>
</div>
