@using MetalTrade.Domain.Enums
@model MetalTrade.Web.ViewModels.User.CreateUserViewModel
@{
    ViewBag.Title = Localizer["ViewBagTitle"];
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <div class="card p-4 metal-border">
                <h3 class="text-center metal-text mb-4">
                    @Localizer["Header_3_Sup_Create"]
                </h3>

                <form method="post" asp-controller="User" asp-action="CreateUser" enctype="multipart/form-data">

                    <div class="form-group my-2">
                        <input asp-for="UserName" placeholder="@Localizer["FormLabelLogin"]" class="form-control text-center" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group my-2">
                        <input asp-for="Email" placeholder="@Localizer["FormLabelEmail"]" class="form-control text-center" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="form-group my-2">
                        <input asp-for="PhoneNumber" placeholder="@Localizer["FormLabelPhone"]" class="form-control text-center" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group my-2">
                        <input asp-for="WhatsAppNumber" placeholder="@Localizer["FormLabelWhatsApp"]" class="form-control text-center" />
                        <span asp-validation-for="WhatsAppNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group my-3">
                        <label class="fw-semibold">@Localizer["FormLabelAvatar"]</label>
                        <input asp-for="Photo" type="file" class="form-control" />
                    </div>

                    <div class="form-group my-3">
                        <label class="fw-semibold">@Localizer["FormLabelChooseRole"] </label><br />
                        <select asp-for="Role" class="rounded form-control">
                            <option value="Supplier">@Localizer["SelectElemOptionSupp"]</option>
                            <option value="Moderator">@Localizer["SelectElemOptionModerator"]</option>
                        </select>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>

@*                     <div class="form-group my-3">
                        <label class="fw-semibold">Роль</label>
                        <select asp-for="Role"
                                class="form-control text-center"
                                asp-items="Html.GetEnumSelectList<UserRole>()">
                        </select>
                    </div> *@

                    <div class="form-group my-3">
                        <input asp-for="Password" placeholder="@Localizer["FormLabelPassword"]" class="form-control text-center" />
                    </div>

                    <div class="form-group my-3">
                        <input asp-for="PasswordConfirm" placeholder="@Localizer["FormLabelPasswordConfirm"]" class="form-control text-center" />
                    </div>

                    <div class="d-grid mt-4">
                        <button type="submit" class="btn btn-primary btn-lg">
                            @Localizer["BtnFormSave"]
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>
        $(document).ready(function (){
            $('#eye-btn').click(function (e){
                e.preventDefault();
                let password = $('#password');

                if (password.attr("type") === "password") {
                    password.attr("type", "text");
                }
                else {
                    password.attr("type", "password");
                }
            });

            $('#repeat-eye').click(function (e){
                e.preventDefault();
                let password = $('#repeat');

                if (password.attr("type") === "password") {
                    password.attr("type", "text");
                }
                else {
                    password.attr("type", "password");
                }
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
