@model List<MetalTrade.Web.ViewModels.Product.ProductViewModel>
@using MetalTrade.Business.Dtos;
@{
    ViewBag.Title = "Список продуктов";
    var filter = ViewBag.Filter as ProductFilterDto;
}


<div class="mb-2">
    <a asp-action="Create" class="btn btn-outline-success">Создать Новый Продукт</a>
</div>

<table class="mt-3 table table-info table-striped-columns" style="width: 100%;">
    <tr>
        <th>Id</th>
        <th>
            <a asp-action="Index"
               asp-route-sort="@(ViewBag.Filter?.Sort == "name_asc" ? "name_desc" : "name_asc")">
                Название
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sort="@(ViewBag.Filter?.Sort == "metal_asc" ? "metal_desc" : "metal_asc")">
                Материал
            </a>
        </th>
        <th>Действие</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.MetalType.Name</td>
            <td>
                <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-success">Детали</a><span> | </span>
                <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-secondary">Редактировать</a><span> | </span>
                <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Удалить</a>
            </td>
        </tr>
    }
</table>
