@model MetalTrade.Web.ViewModels.Profile.ChangePasswordViewModel

<h2>@Localizer["Header_2"]</h2>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label class="form-label">@Localizer["LabelOldPassword"]</label>
        <div class="input-group">
            <input asp-for="OldPassword" type="password" class="form-control"  id="password"/>
            <button type="button" class="btn btn-light " id="eye-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                </svg>
            </button>
        </div>
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">@Localizer["LabelNewPassword"]</label>
        <div class="input-group">
            <input asp-for="NewPassword" type="password" class="form-control" id="new-password"/>
            <button type="button" class="btn btn-light " id="new-password-eye">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                </svg>
            </button>
        </div>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">@Localizer["LabelPasswordConfirm"]</label>
        <div class="input-group">
            <input asp-for="ConfirmPassword" type="password" class="form-control" id="repeat"/>
            <button type="button" class="btn btn-light " id="repeat-eye">
                <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                </svg>
            </button>
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button class="btn btn-primary">@Localizer["BtnChangePassword"]</button>
</form>

@section Scripts {
    <script src="~/js/password.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
