@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Newtonsoft.Json
@model MetalTrade.Web.ViewModels.Profile.UserProfileWithAdsViewModel



<div class="container mt-4">
    <h2 class="mb-4">@Localizer["Header_2_Profile"]</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card shadow-sm p-3 text-center">
                <img src="@(string.IsNullOrEmpty(Model.PhotoPath) ? "/images/default/avatar.jpg" : Model.PhotoPath)"
                     class="rounded-circle mx-auto d-block mb-3"
                     style="width: 120px; height: 120px; object-fit: cover;"
                     alt="Аватар" />

                <h5>@Model.UserName</h5>

                <p class="form-control-plaintext">@Localizer["Elem_P_Phone"] +996@(Model.PhoneNumber)</p>
                <p class="form-control-plaintext">@Localizer["Elem_P_WhatsApp"] +996@(Model.WhatsAppNumber)</p>

                <div class="d-grid gap-2">
                    <a href="/Profile/Edit"
                       class="btn btn-outline-primary btn-sm">
                        @Localizer["BtnEditProfile"]
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            @if(Model.IsSupplier)
            {
                <div class="card shadow-sm p-3">
                    <h5 class="mb-3">@Localizer["Header_5_Excel"]</h5>

                    <form asp-action="Load"
                          asp-controller="Advertisement"
                          method="post"
                          enctype="multipart/form-data">

                        <input type="file"
                               name="file"
                               accept=".xlsx"
                               class="form-control mb-3" />

                        <button type="submit"
                                class="btn btn-outline-primary">
                            @Localizer["BtnImportExcel"]
                        </button>

                        <button type="button" class="btn btn-danger ms-2" data-bs-toggle="modal" data-bs-target="#myModal">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="23" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                            </svg>
                        </button>


                    </form>
                    
                    @if (TempData["Success"] != null)
                    {
                        <div class="alert alert-success mt-3 mb-0">
                            @TempData["Success"]
                        </div>
                    }

                    @if (TempData["Errors"] != null)
                    {
                        var errors = JsonConvert.DeserializeObject<Dictionary<int, List<string>>>(TempData["Errors"]!.ToString()!);

                        if (errors != null && errors.Any())
                        {
                            <div class="alert alert-warning d-flex justify-content-between align-items-center mt-1 mb-0">
                                <span>@Localizer["SpanErrorCountLabel"] @errors.Keys.Count</span>
                                <button class="btn btn-sm btn-danger"
                                        data-bs-toggle="modal"
                                        data-bs-target="#importErrorsModal">
                                    @Localizer["BtnShowErrors"]
                                </button>
                            </div>
                            <div class="modal fade" id="importErrorsModal" tabindex="-1">
                                <div class="modal-dialog modal-lg modal-dialog-scrollable">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">@Localizer["Header_5_ModalErrorTitle"]</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>

                                        <div class="modal-body">
                                            <ul>
                                                @foreach (var row in errors)
                                                {
                                                    <li class="mb-3">
                                                        <strong>@Localizer["LiStrongErrorLabel"] @row.Key</strong>
                                                        <ul>
                                                            @foreach (var error in row.Value)
                                                            {
                                                                <li class="text-danger">@error</li>
                                                            }
                                                        </ul>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            @if (Model.IsSupplier)
            {
                <h4 class="mb-3">@Localizer["Header_4_MyAds"]</h4>
                <hr />
                <div class="col-md-12">
                    @if (Model.Advertisements == null || !Model.Advertisements.Any())
                    {
                        <p class="text-muted">@Localizer["P_Elem_Ads_Absent"]</p>
                    }
                    else
                    {
                        <div class="row">
                            @foreach (var ad in Model.Advertisements)
                            {
                                <div class="col-md-4 mb-3">
                                    <partial name="_AdCardPartial" model="ad" />
                                </div>
                            }
                        </div>
                    }

                </div>
            }
            else
            {
                <h4>@Localizer["Header_4_SavedAds"]</h4>
            }
        </div>
    </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h2 class="modal-title w-100 text-center">@Localizer["Header_2_ModalTitle"]</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body text-center">
                <h5 class="mt-3">@Localizer["Header_5_ModalTableHeader"]</h5>
                <p class="mt-3 text-danger">@Localizer["P_Elem_FileImpWarning"]</p>
            </div>

            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseOne">
                            @Localizer["BtnModalWatchExample"]
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ul>
                                <li>
                                    @Localizer["LiElemModalExampleRow"]
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            @Localizer["BtnNoSuccessImportModal"]
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <strong>@Localizer["StrongElemPossibleReason"]</strong>
                            <ul>
                                <li>
                                    @Localizer["LiElemErrorFormatDesc"]
                                </li>
                                <li>
                                    @Localizer["LiElemErrorDataDesc"]
                                </li>
                                <li>
                                    @Localizer["LiElemErrorLimitDesc"]
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            @Localizer["BtnFileNoLoadHelp"]
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <strong>@Localizer["StrongElemPossibleReason"]</strong>
                            <ul>
                                <li>
                                    @Localizer["LiElemConnectionErrorDesc"]
                                </li>
                                <li>
                                    @Localizer["LiElemServerErrorDesc"]
                                </li>
                                <li>
                                    @Localizer["LiElemFileConsistFieldErrorDesc"]
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>


