@using Microsoft.AspNetCore.Mvc.Localization
@model MetalTrade.Web.ViewModel.LoginViewModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["Login"];
}

<h2>@Localizer["Login"]</h2>

<form asp-action="Login" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label>@Localizer["Username or Email"]</label>
        <input asp-for="Login" />
        <span asp-validation-for="Login"></span>
    </div>

    <div>
        <label>@Localizer["Password"]</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <input asp-for="RememberMe" />
        <label>@Localizer["Remember Me"]</label>
    </div>

    <div>
        <button type="submit">@Localizer["Login"]</button>
    </div>
</form>
