@using MetalTrade.Web.AdminPanel.ViewModels.User
@model IEnumerable<UserViewModel>
@{
    ViewBag.Title = "Список пользователей";
}

<div class="container mt-4">
    <h2 class="mb-4">Все пользователи</h2>
    @if (!Model.Any())
    {
        <h4 class="">Пользователей еще нет </h4>
    }
    else
    {
        <div class="row text-center">
            <table class="mt-3 table table-success " style="width: 100%;">
                <tr>
                    <th>Аватар</th>
                    <th>Логин</th>
                    <th>Email</th>
                    <th>Номер телефона</th>
                    <th>Роль</th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var user in Model)
                {
                    <tr>
                        @if (!string.IsNullOrWhiteSpace(user.Photo))
                        {
                            if (user.Photo.StartsWith("http"))
                            {
                                <td><img src="@user.Photo" style="width:40px;height:40px;border-radius:50%;" /></td>
                            }
                            else
                            {
                                user.Photo = user.Photo.Substring(1);
                                <td><img src="~/@user.Photo" style="width:40px;height:40px;border-radius:50%;" /></td>
                            }
                        }
                        else
                        {
                            <td></td>    
                        }

                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        @if(user.Roles!=null && user.Roles.Any())
                        {
                            @if (user.Roles.Contains("admin"))
                            {
                                <td class="text-danger">Админ</td>
                                <td></td>
                            }
                            else if (user.Roles.Contains("moderator"))
                            {
                                <td><div class="text-info">Модератор</div></td>
                                <td><a asp-action="RemoveRole" asp-route-id="@user.Id" asp-route-role="moderator" class="btn btn-primary">Удалить из модераторов</a></td>
                            }
                            else if (user.Roles.Contains("supplier"))
                            {
                                <td><div class="text-info">Поставщик</div></td>
                                <td><a asp-action="AddRole" asp-route-id="@user.Id" asp-route-role="moderator" class="btn btn-primary">Сделать модератором</a></td>
                            }
                            else
                            {
                                <td><div class="text-info">Пользователь</div></td>
                                <td><a asp-action="AddRole" asp-route-id="@user.Id" asp-route-role="moderator" class="btn btn-primary">Сделать модератором</a></td>
                            }
                        }

                        <td><a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Удалить</a></td>

                    </tr>
                }
            </table>
        </div>
    }
</div>
